.backgroundBlue{
   background-color: #4B51EF;
}

.backgroundGrey{
   background-color: #AFAFAF;
}
.backgroundGreen{
   background: #52CF4F;
}

.button{
   color: white;
   border:none;
   border-radius: 5px;
   font-size: 12px;
   padding: 0.35rem 1rem;
   line-height: 14.06px;
   font-weight: 400;
}
