.backgroundBlue {
  background-color: #4b51ef;
}

.backgroundGrey {
  background-color: #afafaf;
}
.backgroundGreen {
  background: #52cf4f;
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 0.35rem 1rem;
  line-height: 14.06px;
  font-weight: 400;
}
