.header {
  display: flex;
  justify-content: space-between;
  .header_title {
    .title {
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .header_btn {
    display: flex;
    align-items: center;
  }
}
