.wrapper{
   .title{

   }
   .wrapper_input{
      margin: 0.4rem 0;
      .input{
         background: #FFFFFF;
         border: 1px solid #D8D8D8;
         box-sizing: border-box;
         border-radius: 5px;
         width: 211px;
         height: 22.65px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 12px;
         padding: 0.75rem;
      }
   }
}